<% provide(:title, "Ookla Svecla") %>
<% provide(:phrase, "young artist") %>

		<!-- Start main image and the text below -->
		<div class="col-md-12 text-center">
			<%= image_tag 'main.jpg', :class => "main-img" %>


		<!-- Start footer -->
		<div class="footer col-md-6 col-xs-offset-3">
			<h5>Copyright 2017
				<a href="#"><i class="fa fa-facebook icon1"></i></a>
				<a href="#"><i class="fa fa-twitter icon1"></i></a>
				<a href="#"><i class="fa fa-instagram icon1"></i></a>
			</h5>
		</div>
		<!-- End footer -->
          
