<!-- Start wrapper -->
<div class="wrapper">
	<div class="col-md-12">
		<!-- Logo -->
		<div class="brand"> Ookla Svecla
			<div class="title"> - young artist -  </div>
		</div>

		<!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
				<div class="navbar-brand"><a href="#">Ookla Svecla</a>
					<div class="title"> - young artist - </div>
				</div>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">Art</a>
					</li>
					<li>
						<a href="collection.html">Speedpaint</a>
					</li>
					<li>
						<a href="contact.html">Connect</a>
					</li>
				</ul>
			</div>
			<!-- /navbar-collapse -->
		</nav>
		<!-- End nav -->

		<!-- Start main image and the text below -->
		<div class="col-md-12 text-center">
			<%= image_tag 'main.jpg', :class => "main-img" %>
			<h1>Art - Speedpaint - Animation</h1>
			<div class="hr"></div>
			<h2>Some pretty phrase
			</h2>
			<div class="text-center">
				<a href="collection.html" class="home-btn btn">View something</a>
			</div>  
		</div>
		<!-- End main image and the text below -->

		<!-- Start left column -->
		<div class="box-home col-md-4 col-xs-offset-1">
			<h3>
				<span class="text-left">The right hat may also enliven our</span> imagination of the past...an old-fashioned cloche, a picture hat, or a toque trimmed with a pouf of polka-dotted veiling is just enough to make us feel as if we were living in another, romantic age. 
				<a href="news.html">read more <i class="fa fa-angle-right"></i></a>
			</h3>
		</div>
		<!-- End left column -->
             
		<!-- Start right image -->
		<div class="col-md-6">
			<%= image_tag 'photo.jpg', :class => "photo-home" %>
		</div>
		<!-- End right image -->

		<!-- Start footer -->
		<div class="footer col-md-6 col-xs-offset-3">
			<h5>Copyright 2015
				<a href="#"><i class="fa fa-facebook fa-1x icon1"></i></a>
				<a href="#"><i class="fa fa-twitter fa-1x icon1"></i></a>
				<a href="#"><i class="fa fa-instagram fa-1x icon1"></i></a>
			</h5>
		</div>
		<!-- End footer -->
          
	</div>
	<!-- End col-md-12 -->

</div>
<!-- End wrapper -->
