// Place all the styles related to the Arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-work-wrap {
	padding: 10px;
}

.recent-work-wrap > img {
	height: 250px;
}

.art-name {
	color: white;
	font-size: 4em;
  font-family: 'Qwigley', Helvetica, Sans-serif;	   
}

.art-description {
	color: white;
	font-size: 1em;
  font-family: 'Oxygen', sans-serif;	
}