<% provide(:title, "Speedpaint Tags") %>
<% provide(:phrase, "manage tags for your speedpaints") %>

<!-- Start margin -->
<div class="margin-collection">
             
	<!-- Start projects -->
	<div class="container">
		<div class="row text-center">
			<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add New Video Tag'.html_safe, new_video_tag_path, {class: "btn btn-success"} %>
		</div>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width='70%'>Name</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>

			<tbody>
				<% @video_tags.each do |video_tag| %>
				<tr>
					<td><%= video_tag.name %></td>
					<td><%= link_to '<i class="fa fa-edit" aria-hidden="true"></i> Edit'.html_safe, edit_video_tag_path(video_tag), {class: "btn btn-primary"} %></td>
					<td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, video_tag, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete ' + video_tag.name + ' tag?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>